* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  font-family: "Roboto", sans-serif;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  width: 1200px;
  height: 102px;
  flex-shrink: 0;
}

.header__logo {
  width: 68.552px;
  height: 41.527px;
  flex-shrink: 0;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.nav__main {
  margin-right: 46px;
  margin-left: 344px;
  margin-top: -5px;
  flex-shrink: 0;
}

.nav__gallery {
  width: 65px;
  height: 12px;
  margin-right: 61px;
  color: var(--Gray-1, #333);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  /* 100% */
  letter-spacing: 2.4px;
  text-transform: uppercase;
}

.nav__projects {
  width: 76px;
  height: 11px;
  margin-right: 55px;
  flex-shrink: 0;
  color: var(--Gray-1, #333);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  /* 100% */
  letter-spacing: 2.4px;
  text-transform: uppercase;
}

.nav__certifications {
  width: 123px;
  height: 11px;
  margin-right: 49px;
  flex-shrink: 0;
  color: var(--Gray-1, #333);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  /* 100% */
  letter-spacing: 2.4px;
  text-transform: uppercase;
}

.nav__contacts {
  width: 79px;
  height: 11.657px;
  margin-right: 269px;
  flex-shrink: 0;
  color: var(--Gray-1, #333);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  /* 100% */
  letter-spacing: 2.4px;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: var(--Gray-1, #333);
}

.project-lorum {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.project-lorum__right_path {
  justify-content: stretch;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.project-lorum__left_path {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.project {
  color: var(--Gray-4, #bdbdbd);
  color: var(--Gray-4, #bdbdbd);
  font-family: Roboto;
  font-size: 64px;
  font-style: normal;
  font-weight: 300;
  line-height: 64px;
  /* 100% */
  width: 277.763px;
}

.lorum {
  color: var(--Gray-1, #333);
  font-family: Roboto;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  /* 100% */
  width: 186px;
  margin-bottom: 70px;
}

.arrows {
  display: flex;
  justify-content: start;
  line-height: 64px;
  /* 100% */
  width: 277.763px;
}

.slide_numbers {
  display: grid;
  grid-template-columns: 20% 1fr 70%;
  grid-template-rows: 1fr;
  margin-bottom: 94px;
  margin-top: 90px;
}

.slide_number_01 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  color: var(--Gray-4, #bdbdbd);
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 100% */
  line-height: 24px;
  /* 100% */
}

.slash {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: start;
  width: 43.822px;
  height: max-content;
  color: var(--Gray-4, #bdbdbd);
}

.slide_number_02 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  color: var(--Gray-4, #bdbdbd);
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 100% */
  line-height: 24px;
  /* 100% */
  width: 28.975px;
}

.building__foto {
  width: 770px;
  height: 829px;
  flex-shrink: 0;
}

.button_view_project {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  position: relative;
}

.button {
  position: absolute;
  bottom: 0;
  margin-left: -1px;
}

.about {
  display: grid;
  justify-content: space-around;
  justify-items: start;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 60% 40%;
  width: 1170px;
  height: 435px;
  margin-top: 120px;
  margin-bottom: 150px;
  background-color: var(--1, #fbfbfb);
}

.rectangle_foto_1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  width: 270px;
  height: 265px;
  flex-shrink: 0;
  margin-top: 30px;
  margin-left: 100px;
}

.rectangle_foto_2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  width: 270px;
  height: 345px;
  margin-top: 60px;
  margin-left: 30px;
}

.rectangle_foto_3 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  width: 270px;
  height: 140px;
  margin-top: 50px;
  margin-left: 100px;
}

.about_textarea {
  justify-self: start;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.about_h2 {
  color: var(--Gray-4, #bdbdbd);
  font-family: Roboto;
  font-size: 64px;
  font-style: normal;
  font-weight: 300;
  line-height: 64px;
  /* 100% */
  margin-bottom: 20px;
  margin-top: 30px;
  margin-left: 30px;
}

.about_p {
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px;
  /* 156.25% */
  width: 400px;
  height: 200px;
  flex-shrink: 0;
  margin-bottom: 20px;
}

.button_read_more {
  width: 222px;
  height: 71px;
  flex-shrink: 0;
  background: #fff;
}

.main-focus {
  color: var(--Gray-4, #bdbdbd);
  display: grid;
  grid-template-rows: 0.5fr, 2fr;
  grid-template-columns: 1fr;
  grid-template-areas:
    "main-focus__title"
    "main-focus__content";
  margin-top: 5rem;
}

.main-focus__title {
  font-size: 64px;
  font-style: normal;
  font-weight: 300;
  line-height: 64px;
  text-align: left;
  grid-area: main-focus__title;
  margin-bottom: 3rem;
}

.main-focus__content {
  grid-area: main-focus__content;
  line-height: 36px;
}

.main-focus__content_wrapper {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr, 2fr, 1fr, 3fr;
  grid-template-areas: "image_one primary_mission image_two secondary_mission";
}

.main-focus__content_primary-mission {
  height: 144px;
  width: 279px;
  grid-area: primary_mission;
  margin-right: 7rem;
}

.main-focus__content_secondary-mission {
  grid-area: secondary_mission;
}

.main-focus__image_one {
  grid-area: image_one;
  margin-right: 2rem;
}

.main-focus__image_two {
  grid-area: image_two;
  margin-right: 2rem;
}

.our-projects {
  color: var(--Gray-4, #bdbdbd);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-columns: 1fr;
  grid-template-areas:
    "our-projects__title"
    "our-projects__gallery";
  margin-top: 4rem;
}

.our-projects__title {
  font-size: 64px;
  font-style: normal;
  font-weight: 300;
  line-height: 64px;
  text-align: left;
  grid-area: our-projects__title;
  margin-bottom: 3rem;
}

.our-projects__gallery {
  grid-area: our-projects__gallery;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.our-projects__image-rectangle {
  margin-right: 1.3rem;
}

.our-projects__projects {
  color: #fff;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  position: absolute;
  left: 6rem;
  top: 130rem;
}

.our-projects__view-more {
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  position: absolute;
  left: 6rem;
  top: 140rem;
}

.our-projects__arrow-first {
  position: absolute;
  left: 12rem;
  top: 139.7rem;
}

.our-projects__image-roof {
  margin-right: 1.3rem;
  margin-top: 1.3rem;
}

.our-projects__image-house {
  margin-right: 1.3rem;
  margin-top: 1.3rem;
}

.our-projects__image-bridge {
  margin-top: 1.3rem;
}

.our-projects__button {
  background-color: #333;
  color: #fff;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  position: absolute;
  border: none;
  text-align: center;
  cursor: pointer;
  width: 222px;
  padding: 30px 49px;
  left: 62rem;
  top: 165rem;
}

.our-projects__arrow-second {
  position: absolute;
  left: 73rem;
  top: 166.5rem;
}

.contacts {
  margin-top: 120px;
  margin-bottom: 45%;
}

.contacts__title {
  color: #bdbdbd;
  font-family: Roboto;
  font-size: 64px;
  font-style: normal;
  font-weight: 300;
  line-height: 64px;
  margin-bottom: 22px;
}

.contacts__inner {
  display: flex;
  margin-bottom: 77px;
  flex-wrap: wrap;
}

.contacts__form {
  max-width: 391px;
  width: 100%;
  margin-right: 30px;
}

.contacts__form-name,
.contacts__form-phone,
.contacts__form-email,
.contacts__form-interested,
.contacts__form-textarea {
  display: block;
  width: 100%;
  padding: 14px 21px;
  background: #f3f3f3;
  border: none;
  margin-bottom: 10px;
}

.contacts__form-textarea {
  margin-bottom: 0;
  height: 147px;
  resize: none;
}

.contacts__form ::placeholder {
  color: #8d8d8d;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.56px;
}

.placeinput {
  position: relative;
  overflow: hidden;
}

.place_holder {
  z-index: 100;
  cursor: text;
  position: absolute;
  left: 21px;
  top: 14px;
  color: #8d8d8d;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.56px;
  display: none;
}

.placeinput input:invalid + .place_holder,
.placeinput textarea:invalid + .place_holder {
  display: inline;
}

.place_holder span {
  color: red;
}

.contacts__img img {
  width: 100%;
}

.contacts__btn {
  width: 222px;
  padding: 30px 49px;
  background-color: #333;
  color: #fff;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  position: relative;
  border: none;
  text-align: center;
  display: flex;
  cursor: pointer;
}

.contacts__btn::after {
  position: absolute;
  content: "";
  width: 18px;
  height: 9px;
  background-image: url("../images/icons/arrow-right.svg");
  background-repeat: no-repeat;
  right: 49px;
}

.footer {
  background-color: #2c2c2c;
}

.footer__top {
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer__inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.footer__info,
.footer__contacts {
  display: flex;
  flex-direction: column;
}

.footer__contacts {
  justify-content: space-between;
}

.footer__info-text,
.footer__contacts-text,
.footer__social-text {
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 25px;
}

.footer__info-link,
.footer__contacts-link {
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.42px;
  display: inline-block;
  cursor: pointer;

  text-decoration: none;
}

.footer__info-link + .footer__info-link {
  margin-top: 16px;
}

.footer__contacts-link + .footer__contacts-link {
  margin-top: 32px;
}

.footer__contacts-link {
  display: flex;
  align-items: start;
}

.footer__contacts-mail {
  align-items: center;
}

.footer__contacts-img {
  margin-right: 14px;
}

.footer__contacts-label {
  margin-right: 19px;
}

.footer__social-box {
  display: flex;
  justify-content: space-between;
  width: 193px;
}

.footer__bottom-text {
  color: rgba(200, 200, 200, 0.5);
  font-family: Open Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  padding: 24px;
  text-align: center;
}

/* media */
@media screen and (max-width: 1200px) {
  .contacts {
    margin-bottom: 80px;
    margin-top: 80px;
  }

  .contacts__title {
    text-align: center;
  }

  .contacts__form {
    margin: 0 auto;
  }

  .contacts__img img {
    display: none;
  }

  .contacts__btn {
    margin: 0 auto;
  }

  .contacts__inner {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 1100px) {
  .footer__inner {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
  }

  .footer__contacts-link {
    justify-content: center;
  }

  .footer__social-text,
  .footer__info-text,
  .footer__contacts-text {
    text-align: center;
  }

  .footer__info-link,
  .footer__contacts-link {
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .contacts {
    margin-bottom: 60px;
    margin-top: 60px;
  }

  .footer__top {
    padding-top: 50px;
    padding-bottom: 40px;
  }

  .footer__inner {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer__logo,
  .footer__info,
  .footer__contacts {
    margin-bottom: 40px;
  }

  .footer__info-text,
  .footer__contacts-text,
  .footer__social-text {
    font-size: 24px;
  }

  .footer__info-link + .footer__info-link {
    margin-top: 12px;
  }
}

@media screen and (max-width: 500px) {
  .contacts__title {
    font-size: 50px;
    line-height: 60px;
  }

  .contacts__inner {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 350px) {
  .contacts__title {
    font-size: 35px;
    line-height: 40px;
  }

  .contacts__inner {
    margin-bottom: 35px;
  }

  .contacts__btn {
    padding: 25px 40px;
  }
}

@media screen and (max-width: 1200px) {
  .building_foto1 {
    max-width: 100vw;
    height: auto;
    overflow-x: hidden;
  }

  .project-lorum__left_path {
    padding-top: 90px;
    padding-bottom: 40px;
  }

  .rectangle_foto_2 {
    display: none;
  }

  .about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .rectangle_foto_1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .rectangle_foto_2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .about_textarea {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }
}

@media screen and (max-width: 1100px) {
  .header__logo {
    display: none;
  }

  .nav{
    display: grid;
    grid-area: "nav__main nav__gallery nav__projects nav__certifications nav__contacts";
  }


  .nav__main,
  .nav__gallery,
  .nav__projects,
  .nav__certifications,
  .nav__contacts {
    margin-top: 5px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 600px) {
  .building_foto1 {
    display: none;
  }

  .rectangle_foto_1,
  .rectangle_foto_2,
  .rectangle_foto_3 {
    display: none;
  }

  .about {
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr ;
    width: 100%;
  }

  .about_textarea {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    margin-left: 30px;
  }

  .button_read_more {
    margin-left: 80px;
  }

  .about_h2 {
    margin-left: 100px;
  }

  .project-lorum {
    display: grid;
    margin-top: 30px;
  }

  .button_view_project {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    margin-right: 160px;
    margin-top: 450px;
  }

  .project,
  .lorum {
    margin-left: 130px;
  }

  .arrows,
  .slide_numbers {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .project,
  .lorum,
  .about_h2 {
    font-size: 50px;
    line-height: 60px;
  }
}
@media screen and (max-width: 350px) {
  .project,
  .lorum,
  .about {
    font-size: 35px;
    line-height: 40px;
  }

  .about_textarea {
    margin-bottom: 35px;
  }

  .button_view_project,
  .button_read_more {
    padding: 25px 40px;
  }
}
